* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    width: 30%;
    margin: 200px auto;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    border-color: #e15f41;
    background-color:rgb(190, 168, 158)
}

h1 {
    color: #e15f41;
    text-align: center;
    margin: 0px;
}

fieldset {
    border-style: none;
    margin-top: 20px;
}

legend {
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
    color: #e15f41;
}

button {
    font-size: 14px;
    padding: 5px;
    font-weight: bolder;
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
}

.clCenter {
    text-align: center;
}

button:focus {
    background-color: #e15f41;
    color: white;
}